@layer reset, base, tokens, recipes, utilities;

@layer reset {
    html,
    body,
    #root,
    #main {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        user-select: none;
    }

    div {
        touch-action: none;
    }
}

@layer base {
    @font-face {
        font-family: 'Shlop';
        src: url('/fonts/shlop.otf') format('truetype');
    }

    :root {
        --font-shlop: 'Shlop', sans-serif;
    }

    html {
        background-color: #383B43;
    }
}
